<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Search for Prices</h1>
    <form method="post" action="/home">
      <label for="item_category">Item Category:</label>
      <input type="text" id="item_category" name="item_category"><br><br>
      
      <label for="month1">Month 1:</label>
      <input type="text" id="month1" name="month1"><br><br>

      <label for="month2">Month 2:</label>
      <input type="text" id="month2" name="month2"><br><br>

      <label for="year1">Year 1:</label>
      <input type="text" id="year1" name="year1"><br><br>

      <label for="year2">Year 2:</label>
      <input type="text" id="year2" name="year2"><br><br>

      <label for="day">Day:</label>
      <input type="text" id="day" name="day"><br><br>

      <input type="submit" value="Search">
    </form>
  </body>
</html>
